
<h2>Scheduler</h2>

<p>To schedule an upload from you Talon Database to BWS for the future select a date on the form below. If you want to automatically
    upload to talon in the future you can <strong>tick the box</strong> to automatically "repeat every" <strong>7 days</strong> or
    <strong>24 hours</strong>.</p>

<p>{{talonService.scheduledUpload$ | async}}</p>
<p>{{talonService.scheduledUploadStatus}}</p>

<form *ngIf="!isActive" id="talonScheduler" class="form" [formGroup]="schedulerForm">

    <div class="form-controlGroup">
        <label for="startDate" class="form-label">Schedule for:</label>
        <div class="form-controlGroup-inputWrapper">
            <input class="form-input" id="startDate" name="startDate" type="datetime-local" formControlName="startDate">
        </div>
    </div>
    <div class="form-controlGroup">
        <input class="form-input" id="repeat" name="repeat" type="checkbox" formControlName="repeat"> repeat every
        <select class="form-input" id="website" name="website" formControlName="intervalDuration">
            <option *ngFor="let duration of durationOptions" [value]="duration.value">{{duration.label}}</option>
        </select>
    </div>
    <div class="form-buttons">
        <button class="btn btn--primary" (click)="save()" [disabled]="schedulerForm.status !== 'VALID'">Start</button>
    </div>
</form>

<button *ngIf="isActive" class="btn btn--primary" (click)="talonService.endSchedule()">Cancel schedule</button>
