<div class="l-container">
    <form id="loginForm" class="form">
        <h3>Login:</h3>

        <div class="form-controlGroup">
            <label for="username" class="form-label">Username</label>
            <div class="form-controlGroup-inputWrapper">
                <input id="username" class="form-input" name="username" type="text"/>
            </div>
        </div>
        <div class="form-controlGroup">
            <label for="password" class="form-label">Password</label>
            <div class="form-controlGroup-inputWrapper">
                <input id="password" class="form-input" name="password" type="password"/>
            </div>
        </div>
        <button type="submit" class="btn">Login</button>
    </form>
</div>