
<div *ngIf="authService.isLoggedIn()">
    <img class="header-logo" src="/assets/logos/morillian-bws.svg">

    <div class="header-select form-controlGroup-inputWrapper form-controlGroup-inputWrapper--select">
        <select class="form-input form-input--select" id="dealershipSelect" name="dealershipSelect" [formControl]="dealershipSelect">
            <option *ngFor="let website of authService.user.websites" [value]="website.id">{{website.name}}</option>
        </select>
    </div>

    <a (click)="authService.logout()" routerLink="/login" class="header-logout btn btn--primary">Logout</a>
</div>
